@import '../../styles/global.css';
@import '../../styles/fonts.css';
@value sizeFontMobileCaption, paddingDesktop, paddingMobile from '../../styles/sizes.css';

.title {
	composes: fontNormal;
	display: flex;
	align-items: baseline;
}

.title.desktop {

}

.text {
	composes: fontBold;
	margin: 0;
	flex-grow: 5;
}

.title.portrait .text,
.title.landscape .text {
	padding: paddingMobile;
	font-size: sizeFontMobileCaption;
}

.back {
	flex-grow: 1;
}

.back a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
