@import '../../styles/fonts.css';
@value sizeFontDefaultMedium, paddingMobile from '../../styles/sizes.css';

.spentForm.default {}
.spentForm.portrait {}
.spentForm.landscape {}

.spentForm {
	composes: fontNormal;
	display: flex;
	align-items: baseline;
}

.spentForm.default {
	width: 50%;
	margin: 1em 0;
	font-size: sizeFontDefaultMedium;
}

.spentForm.portrait,
.spentForm.landscape {
	margin: 0.5em 0 2em;
	padding: 0 paddingMobile;
}

/* layout */
.column {
	flex-basis: 0;
}

.spentForm.default .column {
	padding: 0 0.5em;
}

.spentForm.portrait .column,
.spentForm.landscape .column {
	padding: 0 0.2em;
}

.currencyColumn {
	composes: column;
	flex-grow: 1;
	padding-left: 0;
	text-align: right;
}

.amountColumn {
	composes: column;
	flex-grow: 4;
}

.forColumn {
	composes: column;
	flex-grow: 1;
}

.typeColumn {
	composes: column;
	flex-grow: 12;
}

.buttonColumn {
	composes: column;
	flex-grow: 4;
	padding-right: 0;
}

/* labels */
.label {
	opacity: 0.3;
}

/* animation */
.shake {
	animation: shake 0.75s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}
