@import '../../styles/fonts.css';
@value sizeFontDefaultMedium, sizeFontMobileMedium, paddingMobile from '../../styles/sizes.css';
@value colorButton, colorButtonShadow from '../../styles/colors.css';

.spentForm.default {}
.spentForm.portrait {}
.spentForm.landscape {}

.spentForm {
	composes: fontNormal;
	display: flex;
	align-items: baseline;
}

.spentForm.default {
	width: 50%;
	margin: 1em 0;
	font-size: sizeFontDefaultMedium;
}

.spentForm.portrait,
.spentForm.landscape {
	margin: 0.5em 0 2em;
	padding: 0 paddingMobile;
}

/* layout */
.column {
	flex-basis: 0;
}

.spentForm.default .column {
	padding: 0 0.5em;
}

.spentForm.portrait .column,
.spentForm.landscape .column {
	padding: 0 0.2em;
}

.currencyColumn {
	composes: column;
	flex-grow: 1;
	padding-left: 0;
	text-align: right;
}

.amountColumn {
	composes: column;
	flex-grow: 4;
}

.forColumn {
	composes: column;
	flex-grow: 1;
}

.typeColumn {
	composes: column;
	flex-grow: 12;
}

.buttonColumn {
	composes: column;
	flex-grow: 4;
	padding-right: 0;
}

/* labels */
.label {
	opacity: 0.3;
}

/* inputs */
.input {
	composes: fontNormal;
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.spentForm.default .input {
	font-size: sizeFontDefaultMedium;
}

.spentForm.portrait .input,
.spentForm.landscape .input {
	font-size: sizeFontMobileMedium;
	outline: none;
}

.input.error {
	border-bottom-color: rgba(255,0,0,.3);
}

/* button */
.button {
	composes: fontNormal;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.2em 1em;
	border: none;
	background: colorButton;
}

.spentForm.default .button {
	font-size: sizeFontDefaultMedium;
	box-shadow: 2px 2px 0 colorButtonShadow;
}

.spentForm.portrait .button,
.spentForm.landscape .button {
	font-size: sizeFontMobileMedium;
	outline: none;
	box-shadow: 1px 1px 0 colorButtonShadow;
}

/* animation */
.shake {
	animation: shake 0.75s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}
