@import '../../styles/fonts.css';
@value sizeFontDefaultCaption, sizeFontMobileCaption from '../../styles/sizes.css';

.dateDisplay {
	composes: fontNormal;
	font-size: sizeFontDefaultCaption;
	display: flex;
	margin: 1em 0;
}

.dateDisplay.portrait {
	font-size: sizeFontMobileCaption;
}

.date {
	margin-right: 1em;
}
