/* font classes */
@import '../../styles/fonts.css';
/* sizes */
@value sizes: '../../styles/sizes.css';
@value fontDefaultCaption from sizes;

.dateDisplay {
	composes: fontNormal;
	font-size: fontDefaultCaption;
	display: flex;
	margin: 1em 0;
}

.date {
	margin-right: 1em;
}
