html,
body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

:global(.app) {
	height: 100%;
}

:global(.app_desktop) {
	width: 375px;
	height: 667px;
	margin: 20px auto;
	border: 1px solid #ccc;
}
