@import '../../styles/fonts.css';
@value sizeFontDefaultCaption, sizeFontMobileCaption, paddingDesktop, paddingMobile from '../../styles/sizes.css';
@value colorHeader from '../../styles/colors.css';

/* container classes */
.header {
	display: flex;
	justify-content: space-between;
	background: colorHeader;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.header.default {
	padding: paddingDesktop;
}

.header.portrait,
.header.landscape {
	padding: paddingMobile;
}

.leftCol {}
.rightCol { align-self: center; }

/* logo classes */
.logo {
	composes: fontBold;
}

.header.default .logo {
	font-size: sizeFontDefaultCaption;
}

.header.portrait .logo,
.header.landscape .logo {
	font-size: sizeFontMobileCaption;
}

.logoVersion {
	composes: fontNormal;
	font-size: 66.67%;
}
