@import '../../styles/fonts.css';
@value sizeFontCaption, padding from '../../styles/sizes.css';
@value colorHeader from '../../styles/colors.css';

/* container classes */
.header {
	display: flex;
	justify-content: space-between;
	background: colorHeader;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
	padding: padding;
}

.leftCol {}
.rightCol { align-self: center; }

/* logo classes */
.logo {
	composes: fontNormal;
	font-size: sizeFontCaption;
}

.logoVersion {
	composes: fontNormal;
	font-size: 66.67%;
}
