@import '../../styles/fonts.css';
@value sizeFontMedium from '../../styles/sizes.css';
@value colorButton, colorButtonShadow from '../../styles/colors.css';

/* button */
.button {
	composes: fontNormal;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.2em 1em;
	border: none;
	background: colorButton;
	white-space: nowrap;
	font-size: sizeFontMedium;
	outline: none;
	box-shadow: 1px 1px 0 colorButtonShadow;
}
