@import '../../styles/fonts.css';
@value sizeFontDefaultMedium, sizeFontMobileMedium from '../../styles/sizes.css';
@value colorButton, colorButtonShadow from '../../styles/colors.css';

/* button */
.button {
	composes: fontNormal;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0.2em 1em;
	border: none;
	background: colorButton;
	white-space: nowrap;
}

.button.default {
	font-size: sizeFontDefaultMedium;
	box-shadow: 2px 2px 0 colorButtonShadow;
}

.button.portrait,
.button.landscape {
	font-size: sizeFontMobileMedium;
	outline: none;
	box-shadow: 1px 1px 0 colorButtonShadow;
}
