@import '../../styles/fonts.css';
@value sizeFontMedium, padding from '../../styles/sizes.css';

.listEdit {
	overflow: hidden;
	/* beware! this is a hard fix */
	height: 5em;
	margin-top: 2em;
}

.forceHardware {
	transform: translateZ(0);
}

/* animated frame */
.frame {
	composes: forceHardware;
	width: 100%;
	transition: transform 0.3s ease;
}

.switch {
	transform: translateX(100%);
}

/* sections */
.section {
	width: 100%;
	box-sizing: border-box;
	padding: 0 padding;
}

.main,
.mode {
	composes: section;
}

.main {
	composes: forceHardware;
}

/* mode */
.mode {
	position: absolute;
	top: 0;
	right: 100%;
}


/* heading */
.heading {
	display: flex;
	align-items: baseline;
}

/* title */
.title {
	composes: fontBold;
	margin: 0;
	display: inline-block;
	font-size: sizeFontMedium;
	flex-grow: 10;
}

/* backLink */
.backLink {
	flex-basis: 0;
	flex-grow: 1;
	padding-right: 0.5em;
}

/* content */
.content {
	padding: 0.5em 0;
}

/* mode links */
.modes {
	display: inline-block;
	margin: 0.5em 0 0;
	padding: 0;
	list-style: none;
}

.modes li {
	display: inline-block;
	margin: 0 1em 0 0;
}

/* link */
.link {
	white-space: nowrap;
}

.link span {
	border-bottom: 1px solid rgba(0,0,0,.3);
}
