@import '../../styles/fonts.css';
@value sizeFontMobileMedium, sizeFontDefaultMedium, paddingMobile from '../../styles/sizes.css';

.listEdit {}

.listEdit.desktop {}

.listEdit.portrait,
.listEdit.landscape {
	overflow: hidden;
	margin-top: 2em;
}

.forceHardware {
	transform: translateZ(0);
}

/* animated frame */
.frame {
	composes: forceHardware;
	width: 100%;
	transition: transform 0.3s ease;
}

.switch {
	transform: translateX(100%);
}

/* sections */
.section {
	width: 100%;
	box-sizing: border-box;
	padding: 0 paddingMobile;
}

.main,
.mode {
	composes: section;
}

.main {
	composes: forceHardware;
}

/* mode */
.mode {
	position: absolute;
	top: 0;
	right: 100%;
}


/* heading */
.heading {}

.listEdit.desktop .heading {}

.listEdit.portrait .heading,
.listEdit.landscape .heading {
	display: flex;
	align-items: baseline;
}

/* title */
.title {
	composes: fontBold;
	margin: 0;
}

.listEdit.desktop .title {}

.listEdit.portrait .title,
.listEdit.landscape .title {
	display: inline-block;
	font-size: sizeFontMobileMedium;
	flex-grow: 10;
}

/* backLink */
.backLink {}

.listEdit.desktop .backLink {}

.listEdit.portrait .backLink,
.listEdit.landscape .backLink {
	flex-basis: 0;
	flex-grow: 1;
	padding-right: 0.5em;
}

/* content */
.content {
	padding: 0.5em 0;
}

/* mode links */
.modes {
	padding: 0;
	list-style: none;
}

.listEdit.portrait .modes,
.listEdit.landscape .modes {
	display: inline-block;
	margin: 0.5em 0 0;
}

.modes li {
	display: inline-block;
	margin: 0 1em 0 0;
}

/* link */
.link {
	white-space: nowrap;
}

.link span {
	border-bottom: 1px solid rgba(0,0,0,.3);
}
