.table {
	width: 100%;
}

.caption {
	padding: 1em 0 0.2em;
	text-align: left;
	font-weight: 300;
}

.amount {
	width: 10%;
	padding-right: 1em;
	text-align: right;
	white-space: nowrap;
}

.type {
	width: 80%;
}

.delete {
	width: 10%;

	& span {
		cursor: pointer;
		color: rgba(0,0,0,.5);
		border-bottom: 1px solid rgba(0,0,0,.3);
		transition: 0.3s ease;
	}

	& span:hover {
		color: black;
	}
}