@value padding from '../../styles/sizes.css';
@value colorDelete from '../../styles/colors.css';

.row {
	position: relative;
	transform: translate3d(0,0,0);
	transition: 0.3s ease;
	display: flex;
	align-items: baseline;
}

.readyToDelete {
	transform: translateX(-5em);
}

.column {
	flex-basis: 0;
	padding: 0.25em 0.5em;
}

.currency {
	composes: column;
	width: 11px;
	padding-left: padding;
	text-align: right;
	color: rgba(0,0,0,.3);
}

.amount {
	composes: column;
	flex-grow: 3;
	padding-left: 0.1em;
	text-align: right;
	white-space: nowrap;
}

.name {
	composes: column;
	flex-grow: 12;
	padding-right: padding;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.delete {
	composes: column;
	flex-grow: 1;
	position: absolute;
	width: 3em;
	left: 100%;
	top: 0;
	bottom: 0;
	padding: 0.2em padding;
	background: colorDelete;
	color: white;
	text-align: center;
}
