@value paddingDesktop, paddingMobile from '../../styles/sizes.css';

.row.default {}
.row.portrait {}
.row.landscape {}

.row {
	display: flex;
	align-items: baseline;
}

.column {
	flex-basis: 0;
	padding: 0.25em 0.5em;
}

.currency {
	composes: column;
	width: 11px;
	padding-left: 0;
	text-align: right;
	color: rgba(0,0,0,.3);
}

.amount {
	composes: column;
	flex-grow: 3;
	padding-left: 0.1em;
	text-align: right;
	white-space: nowrap;
}

.name {
	composes: column;
	flex-grow: 12;
}

.row.portrait .name,
.row.landscape .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.delete {
	composes: column;
	flex-grow: 1;
	padding-right: 0;
}

.row.portrait .delete,
.row.landscape .delete {
	display: none;
}

.item.default .delete {
	width: 10%;
	font-size: 80%;

	& span {
		cursor: pointer;
		color: rgba(0,0,0,.5);
		border-bottom: 1px solid rgba(0,0,0,.3);
		opacity: 0.5;
		transition: 0.1s ease;
	}

	& span:hover {
		color: black;
	}
}

.item.default:hover .delete span {
	opacity: 1;
}

.amountInvisible {
	opacity: 0.05;
}