@import '../../styles/global.css';
@import '../../styles/fonts.css';
@value sizeFontDefaultMain, sizeFontMobileMain, paddingDesktop, paddingMobile from '../../styles/sizes.css';
@value colorGreyish from '../../styles/colors.css';

.layout {
	background: colorGreyish;
}

/* content */
.content {
	composes: fontNormal;
}

.layout.default .content {
	width: 80%;
	margin: 0 auto;
	font-size: sizeFontDefaultMain;
}

.layout.portrait .content,
.layout.landscape .content {
	padding: paddingMobile 0;
	font-size: sizeFontMobileMain;
}

/* footer */
.footer {
	composes: fontNormal;
}

.layout.default .footer {
	font-size: sizeFontDefaultMain;
	padding: paddingDesktop;
}

.layout.portrait .footer,
.layout.landscape .footer {
	font-size: sizeFontMobileMain;
	padding: paddingMobile;
}

.footer a {
	color: grey;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
