.layout {
	margin: 2em;
}

.layout.layout_default { background-color: #fff; }
.layout.layout_portrait { background: yellow; }
.layout.layout_landscape { background: green; }

.header {
}

.logo {
	composes: fontCaption fontBold from '../../styles/fonts.css';
}

.logoVersion {
	composes: fontMedium from '../../styles/fonts.css';
}

.content {
	composes: fontMain from '../../styles/fonts.css';
	width: 80%;
	margin: 0 auto;
}

.footer {
	composes: fontMain from '../../styles/fonts.css';
	margin-top: 2em;
}
