@import '../../styles/global.css';
@import '../../styles/fonts.css';
@value sizeFontDefaultMain from '../../styles/sizes.css';
@value colorGreyish from '../../styles/colors.css';

@import './header.css'

.layout {
	background: colorGreyish;
}

.layout.default {}
.layout.portrait {}
.layout.landscape {}


.content {
	composes: fontNormal;
	font-size: sizeFontDefaultMain;
	width: 80%;
	margin: 0 auto;
}

.layout.portrait .content {
	padding: 0 2em;
	margin: 0;
}

.footer {
	composes: fontNormal;
	font-size: sizeFontDefaultMain;
	padding: 2em 2em 2em 2em;
}
