@import '../../styles/fonts.css';
@value paddingDesktop, paddingMobile, sizeFontMobileMain from '../../styles/sizes.css';
@value colorDelete from '../../styles/colors.css';

.listsItem {
	display: flex;
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.listsItem.default {
	padding: paddingDesktop;
}

.listsItem.portrait,
.listsItem.landscape {
	overflow: hidden;
	position: relative;
	padding: paddingMobile;
	font-size: sizeFontMobileMain;
}


.link {
	composes: fontNormal;
	flex-grow: 5;
}

.linkText {
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.rightColumn {
	text-align: right;
	color: #aaa;
}

.count {
	composes: rightColumn;
	flex-grow: 1;
}

.date {
	composes: rightColumn;
	flex-grow: 2;
}

.delete {
	position: absolute;
	width: 3em;
	left: 100%;
	top: 50%;
	padding: 0.2em paddingMobile;
	background: colorDelete;
	color: white;
	text-align: center;
	transition: transform 0.3s ease;
	transform: translateY(-50%);
}

.readyToDelete .delete {
	transform: translate3d(-100%, -50%, 0);
}
