@import '../../styles/fonts.css';
@value padding, sizeFontMain from '../../styles/sizes.css';
@value colorDelete from '../../styles/colors.css';

.listsItem {
	overflow: hidden;
	position: relative;
	display: flex;
	padding: padding;
	cursor: pointer;
	color: black;
	text-decoration: none;
	font-size: sizeFontMain;
}

.isLoading {
	opacity: 0.4;
}

.link {
	composes: fontNormal;
	flex-grow: 5;
}

.linkText {
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.isLoading .linkText {
	border-bottom: none;
}

.rightColumn {
	text-align: right;
	color: #aaa;
}

.count {
	composes: rightColumn;
	flex-grow: 1;
}

.date {
	composes: rightColumn;
	flex-grow: 2;
}

.delete {
	position: absolute;
	width: 3em;
	left: 100%;
	top: 50%;
	padding: 0.2em padding;
	background: colorDelete;
	color: white;
	text-align: center;
	transition: transform 0.3s ease;
	transform: translateY(-50%);
}

.isReadyToDelete .delete {
	transform: translate3d(-100%, -50%, 0);
}

.loading {
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -12px;
	width: 25px;
	height: 25px;
}
